@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@1,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/static/img/Rectangle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh ;
    box-sizing: border-box;
    background-color: #10ADD1;
    color: #F6F6F6;
}

.titulo-destaque {
    color: red;
    font-family: "Krona One", sans-serif;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Krona One", sans-serif;
    font-weight: 200;
    font-size: 30px;
    line-height: 56px;
    text-align: center;
    color: #FFFFFF;
}

.apresentacao_conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Krona One", sans-serif;
}

.apresnetacao_conteudo_titulo{
    font-size: 40px;;
    margin: 15%;
    font-family: "Krona One", sans-serif;
}

.apresnetacao_conteudo_texto{
    font-size: 26px;
    font-family: "Krona One", sans-serif;
}

.botoes{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    font-family: "Krona One", sans-serif;
    width: 365px;
    height: 83px;
}

.apresentacao_botoes_botoes{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color:white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    box-shadow: 0px 4px 6px rgba(154, 50, 216, 0.5);
}

.logo {
    position: absolute;
    top: 10px;
    width: 190px;
    right: 10px;

  }

.imag {
    width: 800px;
    right: 800px;
}